* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  color: #333;
  margin: 0;
}

main {
  background: #282A36;
  padding-left: 300px;
  .right {
    background: white;
  }
}

.left-fixed {
  width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  form {
    padding: 0 10px;
  }
  label {
    display: block;
  }
  textarea, input {
    width: 100%;
    color: white;
    border: 1px solid fade(white, 30%);
    background: fade(white, 5%);
  }
}

.flexy {
  display: flex;
  > div {
    width: 50%;
  }
}

.code {
  font-family: Monaco, monospace;
  background: #282A36;
  color: #FF79C6;
  padding: 4px 6px;
  border-radius: 3px;
}

code {
  .code;
}

article {
  padding: 20px;
  border-bottom: 1px solid #CCC;
  h2 {
    margin: 0 0 1em 0;
  }
}

.state {
  margin: 10px 0;
  .code;
  color: white;
  font-size: 14px;
  h3 {
    font-size: inherit;
    margin: 0;
    text-decoration: underline;
    color: #50FA7B;
  }
  > div {
    margin-bottom: 10px;
  }
  table {
    td {
      vertical-align: top;
    }
    td:first-child {
      width: 45px;
      color: #50FA7B;
    }
  }
}


button {
  border: none;
  padding: 10px;
  background: #69A0FC;
  color: white;
  border-radius: 3px;
  font-size: inherit;
}

label {
  color: #999;
}

input {
  font-size: inherit;
  border: 1px solid #999;
}

textarea {
  font-size: inherit;
  width: 300px;
  height: 100px;
  border: 1px solid #999;
}


.contact-card {
  border: 1px solid #CCC;
  padding: 20px;
  max-width: 400px;
}
